.navbar{
    background-color:rgb(70, 122, 139);
}
h1{
    text-align:center;
}


.img{  display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.about{
    height: 100vh;
}
.bod{
    background-color: rgb(179, 193, 214);
}

.btn-outline-success{
    color:white !important;
   
}
.me{
    text-align:center;
    margin:20px;
}
.fa-envelope{
    font-size:40px;
}

